In [16]:
import numpy as np
import math
import matplotlib.pyplot as plt
import pandas as pd
import json
import datetime as dt

In [17]:
data = []
with open('RawData.txt') as f:
    for line in f:
        i = 79
        words = line[:i].split()
        
        time = dt.time.fromisoformat(words[0][1:-1])
        duration = float(words[1][1:-1]) if  not("?" in words[1][1:-1]) else 0
        device = words[2]
        tracepoint = words[3]
        
        
        features = line[i+1:-1].replace("{", "").replace("}", "").split(",")
        features = [f.split("=")[1].strip() for f in features]
        cpu_id = int(features[0])
        name = features[1]
        ino = int(features[2])
        index = int(features[3])
        
        data.append((time, duration, device, tracepoint, cpu_id, name, ino, index))
        
data_np = np.array(data)
columns = ["time", "duration", "device", "tracepoint", "cpu_id", "name", "ino", "index"]
df = pd.DataFrame(data_np, columns=columns)

In [18]:
display(df.tail())
print(df.shape[0])

,time,duration,device,tracepoint,cpu_id,name,ino,index
75123,13:12:43.426614,0.000002,shayan-virtual-machine,writeback_dirty_page,0,"""8:0""",2805381,1162
75124,13:12:43.426617,0.000003,shayan-virtual-machine,writeback_dirty_page,0,"""8:0""",2805381,1173
75125,13:12:43.426825,0.000208,shayan-virtual-machine,writeback_dirty_page,0,"""8:0""",2805381,601
75126,13:12:43.426835,0.000011,shayan-virtual-machine,writeback_dirty_page,0,"""8:0""",2805381,1096
75127,13:12:43.426846,0.000011,shayan-virtual-machine,writeback_dirty_page,0,"""8:0""",2805381,1029

75128